<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.powersi.material.mapper.ReceiveDetailMapper" >
  <resultMap id="BaseResultMap" type="com.powersi.material.pojo.ReceiveDetail" >
    <id column="rece_id" property="receId" jdbcType="VARCHAR" />
    <id column="supplier_id" property="supplierId" jdbcType="VARCHAR" />
    <id column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="rece_arrive_number" property="receArriveNumber" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rece_id, supplier_id, item_id, rece_arrive_number
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.powersi.material.pojo.ReceiveDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from receive_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.powersi.material.pojo.ReceiveDetailKey" >
    select 
    <include refid="Base_Column_List" />
    from receive_detail
    where rece_id = #{receId,jdbcType=VARCHAR}
      and supplier_id = #{supplierId,jdbcType=VARCHAR}
      and item_id = #{itemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.powersi.material.pojo.ReceiveDetailKey" >
    delete from receive_detail
    where rece_id = #{receId,jdbcType=VARCHAR}
      and supplier_id = #{supplierId,jdbcType=VARCHAR}
      and item_id = #{itemId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.powersi.material.pojo.ReceiveDetailExample" >
    delete from receive_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.powersi.material.pojo.ReceiveDetail" >
    insert into receive_detail (rece_id, supplier_id, item_id, 
      rece_arrive_number)
    values (#{receId,jdbcType=VARCHAR}, #{supplierId,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}, 
      #{receArriveNumber,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.powersi.material.pojo.ReceiveDetail" >
    insert into receive_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="receId != null" >
        rece_id,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="receArriveNumber != null" >
        rece_arrive_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="receId != null" >
        #{receId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="receArriveNumber != null" >
        #{receArriveNumber,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.powersi.material.pojo.ReceiveDetailExample" resultType="java.lang.Integer" >
    select count(*) from receive_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update receive_detail
    <set >
      <if test="record.receId != null" >
        rece_id = #{record.receId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null" >
        supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.receArriveNumber != null" >
        rece_arrive_number = #{record.receArriveNumber,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update receive_detail
    set rece_id = #{record.receId,jdbcType=VARCHAR},
      supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      item_id = #{record.itemId,jdbcType=VARCHAR},
      rece_arrive_number = #{record.receArriveNumber,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.powersi.material.pojo.ReceiveDetail" >
    update receive_detail
    <set >
      <if test="receArriveNumber != null" >
        rece_arrive_number = #{receArriveNumber,jdbcType=DECIMAL},
      </if>
    </set>
    where rece_id = #{receId,jdbcType=VARCHAR}
      and supplier_id = #{supplierId,jdbcType=VARCHAR}
      and item_id = #{itemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.powersi.material.pojo.ReceiveDetail" >
    update receive_detail
    set rece_arrive_number = #{receArriveNumber,jdbcType=DECIMAL}
    where rece_id = #{receId,jdbcType=VARCHAR}
      and supplier_id = #{supplierId,jdbcType=VARCHAR}
      and item_id = #{itemId,jdbcType=VARCHAR}
  </update>
</mapper>