<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.powersi.material.mapper.RepoRemainDetailMapper" >
  <resultMap id="BaseResultMap" type="com.powersi.material.pojo.RepoRemainDetail" >
    <id column="repo_remain_id" property="repoRemainId" jdbcType="VARCHAR" />
    <id column="supplier_id" property="supplierId" jdbcType="VARCHAR" />
    <result column="times" property="times" jdbcType="INTEGER" />
    <result column="remain_amount" property="remainAmount" jdbcType="INTEGER" />
    <result column="repo_remain_in_pic" property="repoRemainInPic" jdbcType="DECIMAL" />
    <result column="in_repo_date" property="inRepoDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    repo_remain_id, supplier_id, times, remain_amount, repo_remain_in_pic, in_repo_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.powersi.material.pojo.RepoRemainDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from repo_remain_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.powersi.material.pojo.RepoRemainDetailKey" >
    select 
    <include refid="Base_Column_List" />
    from repo_remain_detail
    where repo_remain_id = #{repoRemainId,jdbcType=VARCHAR}
      and supplier_id = #{supplierId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.powersi.material.pojo.RepoRemainDetailKey" >
    delete from repo_remain_detail
    where repo_remain_id = #{repoRemainId,jdbcType=VARCHAR}
      and supplier_id = #{supplierId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.powersi.material.pojo.RepoRemainDetailExample" >
    delete from repo_remain_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.powersi.material.pojo.RepoRemainDetail" >
    insert into repo_remain_detail (repo_remain_id, supplier_id, times, 
      remain_amount, repo_remain_in_pic, in_repo_date)
    values (#{repoRemainId,jdbcType=VARCHAR}, #{supplierId,jdbcType=VARCHAR}, #{times,jdbcType=INTEGER}, 
      #{remainAmount,jdbcType=INTEGER}, #{repoRemainInPic,jdbcType=DECIMAL}, #{inRepoDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.powersi.material.pojo.RepoRemainDetail" >
    insert into repo_remain_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="repoRemainId != null" >
        repo_remain_id,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="times != null" >
        times,
      </if>
      <if test="remainAmount != null" >
        remain_amount,
      </if>
      <if test="repoRemainInPic != null" >
        repo_remain_in_pic,
      </if>
      <if test="inRepoDate != null" >
        in_repo_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="repoRemainId != null" >
        #{repoRemainId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="times != null" >
        #{times,jdbcType=INTEGER},
      </if>
      <if test="remainAmount != null" >
        #{remainAmount,jdbcType=INTEGER},
      </if>
      <if test="repoRemainInPic != null" >
        #{repoRemainInPic,jdbcType=DECIMAL},
      </if>
      <if test="inRepoDate != null" >
        #{inRepoDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.powersi.material.pojo.RepoRemainDetailExample" resultType="java.lang.Integer" >
    select count(*) from repo_remain_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update repo_remain_detail
    <set >
      <if test="record.repoRemainId != null" >
        repo_remain_id = #{record.repoRemainId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null" >
        supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.times != null" >
        times = #{record.times,jdbcType=INTEGER},
      </if>
      <if test="record.remainAmount != null" >
        remain_amount = #{record.remainAmount,jdbcType=INTEGER},
      </if>
      <if test="record.repoRemainInPic != null" >
        repo_remain_in_pic = #{record.repoRemainInPic,jdbcType=DECIMAL},
      </if>
      <if test="record.inRepoDate != null" >
        in_repo_date = #{record.inRepoDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update repo_remain_detail
    set repo_remain_id = #{record.repoRemainId,jdbcType=VARCHAR},
      supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      times = #{record.times,jdbcType=INTEGER},
      remain_amount = #{record.remainAmount,jdbcType=INTEGER},
      repo_remain_in_pic = #{record.repoRemainInPic,jdbcType=DECIMAL},
      in_repo_date = #{record.inRepoDate,jdbcType=TIMESTAMP},
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.powersi.material.pojo.RepoRemainDetail" >
    update repo_remain_detail
    <set >
      <if test="times != null" >
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="remainAmount != null" >
        remain_amount = #{remainAmount,jdbcType=INTEGER},
      </if>
      <if test="repoRemainInPic != null" >
        repo_remain_in_pic = #{repoRemainInPic,jdbcType=DECIMAL},
      </if>
      <if test="inRepoDate != null" >
        in_repo_date = #{inRepoDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where repo_remain_id = #{repoRemainId,jdbcType=VARCHAR}
      and supplier_id = #{supplierId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.powersi.material.pojo.RepoRemainDetail" >
    update repo_remain_detail
    set times = #{times,jdbcType=INTEGER},
      remain_amount = #{remainAmount,jdbcType=INTEGER},
      repo_remain_in_pic = #{repoRemainInPic,jdbcType=DECIMAL},
      in_repo_date = #{inRepoDate,jdbcType=TIMESTAMP}
    where repo_remain_id = #{repoRemainId,jdbcType=VARCHAR}
      and supplier_id = #{supplierId,jdbcType=VARCHAR}
  </update>



  <select id="selectAllRemain" parameterType="com.powersi.material.pojo.requestBody.RepoRemainReq"
          resultType="com.powersi.material.pojo.responseBody.RepoRemainRes" >

    select i.id,ic.item_class_name,i.item_class_id,i.item_name,i.item_sale_price,i.item_factory_name,rr.total_remain,
    MAX(rrd.in_repo_date) as in_repo_date,
    sum(rrd.repo_remain_in_pic * rrd.remain_amount) as remain_all_in_pic

    from item i,item_class ic,repo_remain rr,repo_remain_detail rrd

    where i.id = rr.item_id and rr.id = rrd.repo_remain_id and i.item_class_id = ic.id

    <if test="itemName != null" >
      and ( i.id like "%"#{itemName,jdbcType=VARCHAR}"%" or i.item_name like "%"#{itemName,jdbcType=VARCHAR}"%" or i.item_spell like "%"#{itemName,jdbcType=VARCHAR}"%" )
    </if>

    <if test="itemClassId != null" >
      and (i.item_class_id = #{itemClassId,jdbcType=INTEGER} or ic.item_class_father = #{itemClassId,jdbcType=INTEGER})
    </if>

    <if test="itemFactoryName != null" >
      and i.item_factory_name like "%"#{itemFactoryName,jdbcType=VARCHAR}"%"
    </if>

    <if test="totalRemain != null" >
      and rr.total_remain &lt;= #{totalRemain,jdbcType=DECIMAL}
    </if>

    <if test="remainStatus == 1" >
      and rr.total_remain &gt;= 0
    </if>
    <if test="remainStatus == 2" >
      and rr.total_remain &gt; 0
    </if>
    <if test="remainStatus == 3" >
      and rr.total_remain = 0
    </if>

    group by i.id

    <if test="remainStatus == 1 || remainStatus == 2" >
      order by rr.total_remain desc
    </if>

  </select>


  <select id="selectRemainDetail" parameterType="com.powersi.material.pojo.requestBody.RemainDetailReq"
          resultType="com.powersi.material.pojo.responseBody.RemainDetailRes" >

    select s.supplier_name,rrd.in_repo_date,rrd.repo_remain_in_pic,rrd.remain_amount,rrd.times

    from repo_remain rr,repo_remain_detail rrd,supplier s

    where rr.id = rrd.repo_remain_id and rrd.supplier_id = s.id

    <if test="id != null" >
      and  rr.item_id = #{id,jdbcType=VARCHAR}
    </if>

    <if test="supplierId != null" >
      and  rrd.supplier_id = #{supplierId,jdbcType=VARCHAR}
    </if>

    <if test="times != null" >
      and rrd.times = #{times,jdbcType=INTEGER}
    </if>

    <if test="remainStatus == 1" >
      and rrd.remain_amount &gt;= 0
    </if>
    <if test="remainStatus == 2" >
      and rrd.remain_amount &gt; 0
    </if>
    <if test="remainStatus == 3" >
      and rrd.remain_amount = 0
    </if>

    <if test="totalRemain != null" >
      and rrd.remain_amount &lt;= #{totalRemain,jdbcType=DECIMAL}
    </if>

    <if test="inRepoDate != null" >

      <foreach collection="inRepoDate" item="id"  index="index"  >
        <if test="index==0" >
          and rrd.in_repo_date &gt;= #{id}
        </if>
        <if test="index==1" >
          and rrd.in_repo_date &lt;= #{id}
        </if>
      </foreach>

    </if>

    <if test="remainStatus == 1 || remainStatus == 2" >
      order by rrd.times desc
    </if>

  </select>

  <select id="getRemainDetail" parameterType="com.powersi.material.pojo.requestBody.getRemainDetailReq"
          resultType="com.powersi.material.pojo.responseBody.getRemainDetailRes" >

    select rrd.times,rrd.remain_amount

    from repo_remain rr,repo_remain_detail rrd

    where rr.id = rrd.repo_remain_id

    <if test="id != null" >
      and  rr.item_id = #{id,jdbcType=VARCHAR}
    </if>

    <if test="totalRemain != null" >
      and rrd.remain_amount &lt;= #{totalRemain,jdbcType=DECIMAL}
    </if>

    <if test="inRepoDate != null" >

      <foreach collection="inRepoDate" item="id"  index="index"  >
        <if test="index==0" >
          and rrd.in_repo_date &gt;= #{id}
        </if>
        <if test="index==1" >
          and rrd.in_repo_date &lt;= #{id}
        </if>
      </foreach>

    </if>

    <if test="supplierId != null" >
      and  rrd.supplier_id = #{supplierId,jdbcType=VARCHAR}
    </if>

    order by rrd.remain_amount desc
  </select>

</mapper>